PORT=8000
MONGODB_URI=<your mongo uri>
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=<a long string>
ACCESS_TOKEN_EXPIARY=1d
REFRESH_TOKEN_SECRET=<a long string>
REFRESH_TOKEN_EXPIARY=10d
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MAILTRAP_USER=
MAILTRAP_PASS=
MAILTRAP_HOST=
MAILTRAP_PORT=
MAIL_FROM=
GMAIL_USER=
GMAIL_PASS=
FRONTEND_URL=http://your-frontend-url